-# .d-flex.flex-column.align-items-center.justify-content-center
.home-form-container
  %h1 Welcome! #{current_user.present? ? current_user.email : ''}
  %h4 This is a to-do app to help you organize your tasks.
