/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

ul {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 96vh;
  margin-top: 2rem;
  padding-bottom: 10vh;
  align-items: center;
}

.min-height {
  height: 82vh;
}

.home-form-container {
  display: grid;
  place-content: center;
  height: 82vh;
}

.show-container {
  display: grid;
  place-content: center;
}

.navbar {
  height: 7vh;
}

button {
  border-radius: 5px;
  border: 1px solid black;
}

.btn-sign-out {
  background-color: rgb(255, 175, 175);
  border-radius: 5px;
  border: 1px solid black;
}

.btn-confirm {
  background-color: rgb(220, 255, 199);
  border-radius: 5px;
  border: 1px solid black;
}

td, th {
  width: fit-content;
  padding-left: 1rem;
  padding-right: 2rem;
  text-align: left;
  border: solid 1px lightgray;
}

.form-container {
  display: grid;
  place-content: center;
  background-color: rgb(246, 246, 246);
  width: max-content;
  height: max-content;
  border-radius: 15px;
  border: 2px solid grey;
  padding: 2rem;
}

.card {
  width: 250px; 
  background-color: rgb(246, 246, 246);
}

.line {
  width: 30vw;
  height: 0.3vw;
  background-color: black;
  border-radius: 20px;
  z-index: 1;
}

.alert {
  margin: 1rem
}

.position-absolute {
  position: absolute;
}

.alert {
  -webkit-animation: fadeout 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 4s; /* Firefox < 16 */
  -ms-animation: fadeout 4s; /* Internet Explorer */
  -o-animation: fadeout 4s; /* Opera < 12.1 */
  animation: fadeout 4s;
  opacity: 0;
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 1; }
  to   { opacity: 0; }
}
