/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  width: 100vw;
  height: 93vh;
  margin-top: 2rem;
  padding-bottom: 10vh;
}

.home-form-container {
  display: grid;
  place-content: center;
  height: 80vh;
}

.show-container {
  display: flex;
  justify-content: center;
  width: fit-content;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  height: 7vh;
}

button {
  border-radius: 5px;
  border: 1px solid black;
}

.btn-sign-out {
  background-color: rgb(255, 175, 175);
  border-radius: 5px;
  border: 1px solid black;
}

.btn-confirm {
  background-color: rgb(220, 255, 199);
  border-radius: 5px;
  border: 1px solid black;
}

td, th {
  width: fit-content;
  padding-left: 1rem;
  padding-right: 2rem;
  text-align: left;
  border: solid 1px lightgray;
}

.form-container {
  display: grid;
  place-content: center;
  background-color: rgb(246, 246, 246);
  width: max-content;
  height: max-content;
  border-radius: 15px;
  border: 2px solid grey;
  padding: 2rem;
}

.card {
  width: 22%; 
  background-color: rgb(246, 246, 246);
}
