%div{:class => "card p-3 m-3", :id => "#{dom_id category}"}
  %p
    %strong Title:
    = category.title
  %p
    %strong Description:
    = category.description
  %p
    = button_to "Show", category_tasks_path(category.id), method: :get, class: 'btn-confirm'
%br
