%div{:class => "card p-3 w-25 m-3", :id => "#{dom_id category}"}
  %p
    %strong Title:
    = category.title
  %p
    %strong Description:
    = category.description
  %p
    = link_to "Show", category_tasks_path(category.id)
%br
